header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 1px;
    border-color:#563f46;
    border-style: solid;
    background-color: #8ca3a3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul.list-group {
    padding-top: 25px;
    padding-bottom: 20px;
    margin-left: 50px;
}

div.headline {
    padding-bottom: 15px;
    text-align: center;
}

.panel {
    padding-top: 15px;
    padding-left: 25px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 24px;
}
    
header.innerheader {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 26px;
    font-weight: bold;
}

article {
    border-radius: 1px;   
    border-color:#156c73;
    border-style: solid;
    background-color: #c8c3cc;
}

aside {
    border-radius: 1px;    
    border-color:#156c73;
    border-style: solid;
    background-color: #c8c3cc;   
}

div.trackInfo {
    text-align: justify;
    font-size: 18px;

}

button.buttonTrack {
    margin-top: 5px;
    margin-left: 190px;
    background-color:#c8c3cc;
    border-radius: 10px;
    border-color: black;
}

a.tracker-button {
    color: black;
    font-weight: bold;
    text-decoration: none !important;
}

a:hover {
    color: black !important;
}

div.tracker-link {
    margin: 50px;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    background-color:#8ca3a3;
}

div.impacts {
    font-size: 20px;
    font-weight: bolder;
    color: #8ca3a3
}

header.aside-title {
    font-size: 26px;
    font-weight: bold;
    color:#563f46;
    width: 100%;
}

div.subtitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media(min-width: 640px ) {
    .maincontainer {
        grid-template-columns: 2fr 4fr;
        grid-template-areas: 
        "headline    headline"
        "hdr    hdr"
        "aside  article"
        "foot   foot";
    }
}

