/* * {
    box-sizing:border-box;  
} */

div.headline {
    padding-bottom: 15px;
    text-align: center;
}

header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    border-radius: 1px;
    border-color:#563f46;
    border-style: solid;
    background-color: #8ca3a3;
    padding-bottom: 5px;
    margin-bottom: 10px;   
}

article {
    grid-area: article;
    border-radius: 1px;   
    border-color:#156c73;
    border-style: solid;
    background-color: #c8c3cc; 
}

aside {
    grid-area: aside;
    border-radius: 1px;    
    border-color:#156c73;
    border-style: solid;
    background-color: #c8c3cc;   
}

div.overview {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}


div.video { 
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.subtitle-home {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

p {
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

div.table-home {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
   
    

/* ul {
    margin-bottom: 0px;
    padding-left: 100px;
    padding-right: 20px;
    text-align: justify;
} */

/* .title {
    font-size: 30px;
    color: #8fb0b3;

}

.list-group{
    margin-bottom:50px ;
    padding:5px;
    
}

.list-item {
    font-size: 25px;
    background-color: #c8c3cc
   
} */

/* .maincontainer {
    display:grid;
    grid-gap:20px;    
    grid-template-areas: 
    "headline"
    "hdr"
    "article"
    "aside"
    "foot"; 
} */

@media(min-width: 640px ) {
    .maincontainer {
        grid-template-columns: 2fr 4fr;
       
        grid-template-areas: 
        "headline  headline"
        "hdr    hdr"
        "aside  article"
        "foot   foot";
    }
}

/* .table {
    font-size: 20px;
} */

/* .card {
    background-color: lightslategrey;
}

.card-title {
    font-size: 30px;
} */

