li {
    font-size: 18px;
}

div.col-md-9 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

ol.list-references {
    padding-top: 25px;
    padding-bottom: 20px;
    margin-left: 20px;
}